* {
    text-align: center;
    font-family: Helvetica;
}

body {
    background-image: url("../Media/Backgrounds/Goodison.jfif");
    background-size: cover;
    background-attachment: fixed;
}

footer {
    background-color: white;
}

.position-group {
    padding: 50px;
}

.player-number {
    position: absolute;
    top: 10px;
    right: 20px;
}

.player-icon {
    border: 3px solid black;
    width: 320px;
    margin: 10px 10px;
    display: inline-block;
    position: relative;
    background-color: #06042b;
    padding: 5px;
}

.player-icon * {
    color: white;
}

.nationality-flag {
    height: 20px;
}

.player-nationality img, .player-nationality h4 {
    display: inline;
}

.player-headshot {
    z-index: 1;
    position: relative;
    top: 10px;
}

.player-name {
    box-shadow: 0 -30px 20px #06042b;
    z-index: 2;
    position: relative;
}